@charset "UTF-8";

/*
cor01 = #C406D4
cor02 = #9E12EB
cor03 = #5406D4
cor04 = #4F07F7
*/
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#9E12EB , 40vh, #113c50);
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}
h1, p {
    text-shadow: 1px 1px 8px rgb(0 0 0 / 28%);
}
div#imagem {
    background: #9E12EB url(../imagens/hazelwood.jpg) no-repeat bottom center;
}
div#formulario > form {
    color: white;
    position: relative;
}
div#formulario > h1 {
    text-align: center;
}
div#formulario > form > p > label > span {
    background-color: #5406D4;
    border-radius: 5px;
}
div#formulario > p {
    padding: 5px;
    text-indent: 3px;
}
.usu-sen {
    position: absolute;
    margin-left: 1px;
    width: 214px;
    border: 2px solid #5406D4;
    border-radius: 3px;
}
input#ientrar {
    background-color: #14526e;
    color: white;
}
input#iesqueci {
    border: 1px solid #1c729b;
    color: #1c729b;
}
.opcoes {
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    section#login {
        width: 250px;
        height: 400px;
    }
    div#imagem {
        height: 200px;
    }
    div#formulario > form {
        width: 240px;
        margin: 5px;
    }
    #iusu {
        top: 1px;
    }
    #isen {
        top: 29px;
    }
    .opcoes {
        width: 240px;
        margin: 1px 0px 1px 0px;
        padding: 2px;
    }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
    section#login {
        width: 600px;
        height: 210px;
    }
    div#imagem {
        width: 200px;
        height: 300px;
        display: inline-block;
    }
    div#formulario {
        width: 400px;
        height: 200px;
        padding: 5px;
        display: inline-block;
        position: absolute;
    }
    form > p {
        scale: 120%;
        margin-left: 40px;
        margin-bottom: 2px;
    }
    #iusu, #isen {
        width: 285px;
        top: 1px;
    }
    .opcoes {
        margin-top: 2px;
        width: 310px;
        height: 23px;
    }
}

@media screen and (min-width: 600px) and (orientation: landscape) {
    section#login {
        width: 80vw;
        max-width: 778px;
        height: 210px;
        display: flex;
        flex-direction: row;
    }
    div#imagem {
        width: 30vw;
        height: 300px;
        display: inline-block;
        order: 2;
    }
    div#formulario {
        display: block;
        max-width: 500px;
        min-width: 325px;
        height: 100px;
        order: 1;
        padding: 10px;
    }
    form > p {
        scale: 110%;
        margin-left: 24px;
    }
    #iusu, #isen {
        width: 84%;
        max-width: 355px;
        min-width: 287px;
    }
    .opcoes {
        width: 90%;
        max-width: 380px;
        min-width: 314px;
    }
}